.Searchbar-button {
  background: white;
  border: none;
  outline: none;
  cursor: pointer;
  color: black;
  font-weight: 600;
  font-size: 30px;
  padding: 0 10px;
}

.Searchbar-tooltiptext {
  visibility: hidden;
  font-size: 11px;
  background: black;
  padding: 1px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  width: 60%;
  top: 60px;
  left: 20%;
}

.Searchbar-tooltip:hover .Searchbar-tooltiptext {
  visibility: visible;
  opacity: 1;
}
