.Searchbar-input {
  width: 100%;
  min-width: 30vh;
  outline: none;
  font-size: 30px;
  text-align: center;
  border: none;
}

@media only screen and (max-width: 600px) {
  .Searchbar-input::placeholder {
    font-size: 20px;
  }
}
