.Searchbar-input__wrapper {
  flex: 5;
  display: flex;
  max-height: 50px;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .Searchbar-input__wrapper {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}
