.zoomedWrapper {
  display: flex;
  margin: auto;
  flex-direction: row;
  justify-content: center;
  color: white;
  padding: 2%;
}

.zoomedWrapper .leftPanel,
.zoomedWrapper .rightPanel {
  display: block;
  padding: 1vh;
}

.leftPanel img {
  max-height: 85vh;
}

.rightPanel {
  align-items: center;
  margin: auto 0;
}
