.zoomedWrapper {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  color: white;
}

.zoomedWrapper .leftPanel,
.zoomedWrapper .rightPanel {
  padding: 1vh;
  margin: auto 0;
}

.leftPanel img {
  max-height: 85vh;
}
