.rotate {
  margin-top: 150px;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media only screen and (max-width: 1000px) {
  .rotate {
    height: 250px;
  }
}
