.Search-wrapper {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  flex-wrap: nowrap;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  background: #cc0000;
  color: white;
  padding: 40px;
  border-bottom: black 15px solid;
}

@media only screen and (max-width: 600px) {
  .Search-wrapper {
    flex-direction: column;
  }
}
